{% extends "app/layout.html" %}

{% block content %}


<address>
    Магазин канцелярских товаров<br />
    Псковская область, п. Плюсса, ул. Железнодорожная, д.3<br />
</address>

 <address>
      <strong> <abbr title="Phone">Тел:</abbr></strong>
     +7(921)-110-95-82
 </address>

<address> <strong>Время работы:</strong>Пн-Пт:9-30-18:00<br />Сбт, Вск:10:00-15:00
  </address>

<address>
    <strong>Обслуживание клиентов</strong>   <a href="mailto:magazinraduga2013@gmail.com">magazinraduga2013@gmail.com</a><br />
</address>

{% endblock %}
