<!DOCTYPE html>
{% extends "app/layout.html" %}

{% load staticfiles %}

{% block content %}

<<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <h2>{{ title }}</h2>
 <li /><a href ="https://kancpark-psk.9-18ok.ru/" target="_blank"> <img src="{% static 'app/content/22.png' %}" alt="Logo 1"/></a></ul><br />
 <li/><a href ="https://timofeevip.ru/" target="_blank"> <img src="{% static 'app/content/23.png' %}" alt="Logo 1"/></a></ul><br />
 <li/><a href ="https://www.lilkko.ru/" target="_blank"> <img src="{% static 'app/content/24.png' %}" alt="Logo 1"/></a></ul><br />
</head>
<body>

</body>
</html>
{% endblock %}